body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.span-orange span {
  color: #fd9222;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* <!-- --------HEADER------- --> */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav-header {
}
.link-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.link-logo span {
  font-style: italic;
}
.nav-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.nav-item {
}
.header-adress {
}
.address-list {
}
.address-item {
}

/* <!--------SECTION HERO---- --> */

.section-hero {
  padding-bottom: 80px;
}

.container-hero {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
  padding: 381px 40px 40px 40px;
}

.title-hero {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.button-hero {
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.link-hero {
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.sccroll-hero {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/* <!-- --SECTION FEATURES--- --> */

.section-features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-features {
}
.visually-hidden {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 18px;
}

.features-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* <!-- ----SECTION TASTE---- --> */

.section-taste {
  padding-top: 120px;
}

.taste-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-list {
}
.taste-item {
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* <!-- -----SECTION MADE---- --> */

.section-made {
  padding-top: 120px;
}

.made-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}

.made-img {
}
.made-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}
.made-list {
}
.made-item {
}
.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* <!-- --SECTION PRODUCTS--- --> */

.section-products {
  padding-top: 120px;
}
.products-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}
.products-list {
}
.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  max-width: 270px;
  padding: 32px 20px;
}
.products-img {
  margin: 0 auto;
  margin-bottom: 8px;
}
.products-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
}

.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.24px;
  text-align: center;
  margin-bottom: 8px;
}

.products-btn {
  display: block;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  padding: 8px 20px;
}

/* <!-- ----SECTION SELLERS-- --> */

.section-sellers {
  padding-top: 120px;
}
.sellers-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
}
.sellers-list {
}

.sellers-item {
  max-width: 368px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}

.sellers-img {
  margin-bottom: 28px;
}
.sellers-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-bottom: 28px;
  text-align: center;
}

/* <!-- ----SECTION LOVED---- --> */

.section-loved {
  padding-top: 120px;
  margin-bottom: 120px;
}
.loved-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 91px;
}
.loved-list {
  margin-bottom: 50px;
}
.loved-item {
  max-width: 360px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 56px 24px 24px;
}
.loved-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}

.loved-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
  text-align: center;
}

.loved-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.loved-btn {
  display: block;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  background-color: #fff;
}

/* <!-- -------FOOTER-------- --> */

.footer {
  background-color: #1e1823;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.social-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.social-list {
}
.social-item {
}
.social-link {
}
.social-svg {
}

.contact-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29; /* 128.571% */
}

.footer-address {
}
.address-list {
}
.address-item {
}
.address-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}

.footer-nav-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}

.input-email {
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: #fff;
}
.footer-btn {
  background-color: #fd9222;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 17px 40px;
  border-radius: 100px;
}
